html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

header {
  background-image: url(../../animal-land-assets/image-1.jpg);
  background-size: cover;
  height: 100vh;
}

.topNav ul {
  display: flex;
}
.topNav ul li {
  list-style: none;
  margin-right: 2.4rem;
  margin-top: 1.5rem;
}
.topNav ul li a {
  text-decoration: none;
  color: white;
  font-family: "Times New Roman", Times, serif;
  text-transform: uppercase;
  font-size: 0.9rem;
}

h1 {
  color: white;
  font-family: "Fredericka the Great", cursive;
  font-size: 5.5rem;
  line-height: 80px;
  text-transform: uppercase;
  font-weight: lighter;
  text-align: right;
}

.sideNav ul {
  display: flex;
}
.sideNav ul li {
  list-style: none;
}
.sideNav ul li a {
  text-decoration: none;
  color: black;
}

.story {
  background-color: #152d20;
  height: 45vh;
}
.story .wrapper {
  display: flex;
  height: inherit;
}
.story .wrapper .suzieText {
  margin-top: 2rem;
}
.story .wrapper .suzieText p {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-size: 0.8rem;
  line-height: 18px;
}
.story .wrapper .suzieText h2 {
  font-family: "Fredericka the Great", cursive;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 2rem;
  color: white;
  margin-bottom: 1rem;
}
.story .wrapper .suzieText .readMore {
  height: 30px;
  width: 100px;
  background-color: white;
  padding: 5px;
  text-align: center;
}
.story .wrapper .suzieText .readMore a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-family: "Cormorant Garamond", serif;
  font-size: 0.8rem;
  font-weight: lighter;
}

.suziePic {
  display: flex;
  align-items: center;
  margin-right: 1.8rem;
}
.suziePic img {
  height: 200px;
  width: 200px;
}

.friends {
  height: 46vw;
  padding-top: 40px;
  background-color: #c3d3cb;
}
.friends .wrapper h2 {
  font-family: "Fredericka the Great", cursive;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 2rem;
  color: #152d20;
  text-align: center;
}
.friends .wrapper ul {
  display: flex;
  justify-content: space-between;
}
.friends .wrapper ul li {
  list-style: none;
}
.friends .wrapper ul li img {
  height: 250px;
  width: 250px;
}

.midNav {
  height: 25vh;
  background-color: #152d20;
}
.midNav nav ul {
  display: flex;
}
.midNav nav ul li {
  list-style: none;
  color: white;
}
.midNav nav ul li i {
  color: white;
}

.facts {
  display: flex;
}
.facts .factsText {
  background-color: #000000;
}
.facts .factsText h3 {
  font-family: "Fredericka the Great", cursive;
  font-size: 1.6rem;
  color: #152d20;
  font-weight: lighter;
}

.factsImage img {
  width: 50vw;
}

main {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 80vw;
  margin: 0 auto;
}/*# sourceMappingURL=styles.css.map */